<!DOCTYPE html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <title>Mr Sabi</title>
   <!-- Styles -->
   <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
   <!-- Bootstrap -->
   <link rel="stylesheet" href="css/line-awesome.min.css" type="text/css" />
   <!-- Icons -->
   <link rel="stylesheet" href="css/style.css" type="text/css" />
   <!-- Style -->	
   <link rel="stylesheet" href="css/responsive.css" type="text/css" />
   <!-- Responsive -->	
   <link rel="stylesheet" href="css/colors/colors.css" type="text/css" />
   <!-- color -->		
   <link rel="stylesheet" href="css/font-awesome.min.css">
   <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
   <link rel="stylesheet" type="text/css" href="css/flaticon.css">
</head>
<body>
   <div class="page-loading">
      <div class="loadery"></div>
   </div>
   <div class="mrsabi-layout">
      <div class="responive-header resnsve-hed-mb">
         <div class="logo"><a href="" title=""><img src="images/logo-white.png" alt="" /></a></div>
         <span class="open-responsive-btn"><i class="la la-bars"></i><i class="la la-close"></i></span>
         <div class="resp-btn-sec flt-lft-mb">
            <div class="btns-extra-top rightmr-20">
               <a href="listing.html" title="" class="add-listing-btn left">Write a Review</a>				
               <a href="deals.html" title="" class="add-listing-btn left hoverhead view_deals">View Deals</a>
			   <a href="add-listing.html" title="" class="add-listing-btn right">Add Your Business</a>
            </div>
         </div>
         <div class="responisve-menu">
            <span class="close-reposive"><i class="la la-close"></i></span>
            <div class="logo"><a href="" title=""><img src="images/logo-white.png" alt="" /></a></div>
            <ul>
               <li>
                  <a href="index.html" title="">Home</a> 
               </li>
               <li>
                  <a href="categories.html" title="">Browse by Category</a>
               </li>
               <li>
                  <a href="#" title="">download mobile</a>
               </li>
               <li>
                  <a href="login.html" title="">Login</a>
               </li>
            </ul>
         </div>
      </div>
      <!-- Responsive-header -->
      <header class="on-top with-transparent inner-head-sec">
         <div class="container">
            <a href="listing.html" title="" class="add-listing-btn left hoverhead">Write a Review</a>
			<a href="deals.html" title="" class="add-listing-btn left hoverhead view_deals">View Deals</a>
            <div class="logo">
               <!--a href="" title=""><img src="images/logo-white.png" alt="" /></a-->
            </div>
            <div class="menu-sec">
               <div class="btns-extra-top">
                  <a href="add-listing.html" title="" class="add-listing-btn right">Add Your Business</a>
               </div>
               <nav class="header-menu">
                  <ul>
                     <li>
                        <a href="index.html" title="">Home</a> 
                     </li>
                     <li>
                        <a href="categories.html" title="">Browse by Category</a>
                     </li>
                     <li>
                        <a href="#" title="">download mobile</a>
                     </li>
                     <li>
                        <a href="login.html" title="">Login</a>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </header>
      <section class="bred-crumb-sec">
         <div class="block no-padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="inner-header">
                        <h2>Best Deals</h2>
                        <ul class="breadcrumbs">
                           <li><a href="#" title="">Home</a></li>
                           <li>Best Deals</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section>
         <div class="block gray ">
            <div class="container">
               <div class="row">
                  <div class="col-md-9 column">
                     <h3 class="mini-title">Best Deals</h3>
                     <div class="filter-bar">
                        <span>11 Results Found</span>
                        <div class="filter-dropdowns">
                           <select data-placeholder="Sort By" class="chosen-select" tabindex="2">
                              <option value="Sort By">Sort By</option>
                              <option value="Top Trending">Discount</option>
                              <option value="Price High">New Deals</option>
                              <option value="Price High">Hot Deals</option>
                              <option value="Price Low">Popular Deals</option>
                           </select>
                        </div>
                     </div>
                    <div class="grids-listings">
							<div class="row">
							    <div class="col-md-12">
							         <div class="recent-places-box list-style">
											  <div class="recent-place-thumb mbwidth">
											 <span class="badge-best"> Hot </span>
											<a href="#" title=""><img src="images/resource/td1.jpg" alt=""></a>
										   </div>
										 <div class="recent-place-detail">
											<div class="listing-box-title">
											   <h3><a href="#" title="">Fortis Hospital</a></h3>
											   <span>Los Angeles /  Sillicon Valley </span>
											   <span>+0-111-222-3333</span>
											</div>
											<div class="share-favourite mnfav">
											  <span class="price-list">15% off</span>
											  <p><label class="label label-orange">COUPON123</label></p>
											</div>
										 </div>
                                        </div>							        
							      </div>
								     <div class="col-md-12">
							         <div class="recent-places-box list-style">
											  <div class="recent-place-thumb mbwidth">
											 <span class="badge-best">New</span>
											<a href="#" title=""><img src="images/list2.jpg" alt=""></a>
										   </div>
										 <div class="recent-place-detail">
											<div class="listing-box-title">
											   <h3><a href="#" title="">Madam's Organ</a></h3>
											   <span>Los Angeles / Town Street </span>
											   <span>+0-222-444-3333</span>
											</div>
											<div class="share-favourite mnfav">
											  <span class="price-list">15% off</span>	  <p><label class="label label-orange">COUPON435</label></p>
											</div>
										 </div>
                                        </div>							        
							      </div>
								     <div class="col-md-12">
							         <div class="recent-places-box list-style">
											  <div class="recent-place-thumb mbwidth">
											 <span class="badge-best"> Popular </span>
											<a href="#" title=""><img src="images/resource/gl3.jpg" alt=""></a>
										   </div>
										 <div class="recent-place-detail">
											<div class="listing-box-title">
											   <h3><a href="#" title="">The Foody House</a></h3>
											   <span>California / Sillicon Valley</span>
											   <span>+0-999-000-3333</span>
											</div>
											<div class="share-favourite mnfav">
											  <span class="price-list">15% off</span>
											   <p><label class="label label-orange">COUPON023</label></p>
											</div>
										 </div>
                                        </div>							        
							      </div>
								     <div class="col-md-12">
							         <div class="recent-places-box list-style">
											  <div class="recent-place-thumb mbwidth">
											 <span class="badge-best"> Hot </span>
											<a href="#" title=""><img src="images/resource/dt3.jpg" alt=""></a>
										   </div>
										 <div class="recent-place-detail">
											<div class="listing-box-title">
											   <h3><a href="#" title="">Ray’s Birthday Bar</a></h3>
											   <span> Philadelphia, PA Town </span>
											   <span>+0-888-222-3333</span>
											</div>
											<div class="share-favourite mnfav">
											  <span class="price-list">25% off</span>
											   <p><label class="label label-orange">COUPON823</label></p>
											</div>
										 </div>
                                        </div>							        
							      </div>
								     <div class="col-md-12">
							         <div class="recent-places-box list-style">
											  <div class="recent-place-thumb mbwidth">
											 <span class="badge-best"> Hot </span>
											<a href="#" title=""><img src="images/resource/rp4.jpg" alt=""></a>
										   </div>
										 <div class="recent-place-detail">
											<div class="listing-box-title">
											   <h3><a href="#" title="">JW Merriot Hotel</a></h3>
											   <span>Alaska / Street Town Valley </span>
											   <span>+0-111-222-3333</span>
											</div>
											<div class="share-favourite mnfav">
											  <span class="price-list">15% off</span>
											   <p><label class="label label-orange">COUPON865</label></p>
											</div>
										 </div>
                                        </div>							        
							      </div>
								     <div class="col-md-12">
							         <div class="recent-places-box list-style">
											  <div class="recent-place-thumb mbwidth">
											 <span class="badge-best"> New </span>
											<a href="#" title=""><img src="images/resource/td3.jpg" alt=""></a>
										   </div>
										 <div class="recent-place-detail">
											<div class="listing-box-title">
											   <h3><a href="#" title="">Jorge Mechanic Shop</a></h3>
											   <span>California Street Down Town </span>
											   <span>+0-111-222-3333</span>
											</div>
											<div class="share-favourite mnfav">
											  <span class="price-list">60% off</span>
											   <p><label class="label label-orange">COUPON657</label></p>
											</div>
										 </div>
                                        </div>							        
							      </div>
								<!--div class="col-md-4 col-sm-6 col-xs-12">
									<div class="listing-box list-dels">
										<div class="listing-box-thumb">
											<span class="price-list">15% off</span>
											<img src="images/resource/td1.jpg" alt="">
											<div class="listing-box-title">
												<h3><a href="deal-details.html" title="">Fortis Hospital</a></h3>
												<span>Los Angeles / Sillicon Valley </span>
												<span>+0-111-222-3333</span>
											</div>
											<a href="#" class="hert-sv"><i class="la la-heart-o"></i></a>
											
											<span class="badge-best"> Hot </span>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<span>(25 Reviews)</span>
											</div>
											<a href="deal-details.html" class="rad-mr"><i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="listing-box list-dels">
										<div class="listing-box-thumb">
											<span class="price-list">50% off</span>
											<img src="images/list2.jpg" alt="">
											<div class="listing-box-title">
												<h3><a href="deal-details.html" title="">Madam's Organ</a></h3>
												<span>Los Angeles / Town Street </span>
												<span>+0-222-444-3333</span>
											</div>
											<a href="#" class="hert-sv"><i class="la la-heart-o"></i></a>
											
											<span class="badge-best"> New </span>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<span>(13 Reviews)</span>
											</div>
											<a href="deal-details.html" class="rad-mr"><i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="listing-box list-dels">
										<div class="listing-box-thumb">
											<span class="price-list">15% off</span>
											<img src="images/resource/gl3.jpg" alt="">
											<div class="listing-box-title">
												<h3><a href="deal-details.html" title="">The Foody House</a></h3>
												<span>California / Sillicon Valley </span>
												<span>+0-999-000-3333</span>
											</div>
											<a href="#" class="hert-sv"><i class="la la-heart-o"></i></a>
											
											<span class="badge-best"> Popular </span>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(56 Reviews)</span>
											</div>
											<a href="deal-details.html" class="rad-mr"><i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="listing-box list-dels">
										<div class="listing-box-thumb">
											<span class="price-list">40% off</span>
											<img src="images/resource/dt3.jpg" alt="">
											<div class="listing-box-title">
												<h3><a href="deal-details.html" title="">Ray’s Birthday Bar</a></h3>
												<span> Philadelphia, PA Town </span>
												<span>+0-666-222-3333</span>
											</div>
											<a href="#" class="hert-sv"><i class="la la-heart-o"></i></a>
											
											<span class="badge-best"> Hot </span>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(45 Reviews)</span>
											</div>
											<a href="deal-details.html" class="rad-mr"><i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="listing-box list-dels">
										<div class="listing-box-thumb">
											<span class="price-list">25% off</span>
											<img src="images/resource/rp4.jpg" alt="">
											<div class="listing-box-title">
												<h3><a href="deal-details.html" title="">JW Merriot Hotel</a></h3>
												<span>Alaska / Street Town Valley </span>
												<span>+0-888-222-3333</span>
											</div>
											<a href="#" class="hert-sv"><i class="la la-heart-o"></i></a>
											
											<span class="badge-best"> Hot </span>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(13 Reviews)</span>
											</div>
											<a href="deal-details.html" class="rad-mr"><i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="listing-box list-dels">
										<div class="listing-box-thumb">
											<span class="price-list">60% off</span>
											<img src="images/resource/td3.jpg" alt="">
											<div class="listing-box-title">
												<h3><a href="deal-details.html" title="">Jorge Mechanic Shop</a></h3>
												<span>California Street Down Town </span>
												<span>+0-656-234-3333</span>
											</div>
											<a href="#" class="hert-sv"><i class="la la-heart-o"></i></a>
											
											<span class="badge-best"> New </span>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<span>(13 Reviews)</span>
											</div>
											<a href="deal-details.html" class="rad-mr"><i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
										</div>
									</div>
								</div-->
							</div>
						</div>
                     <div class="pagination">
                        <ul>
                           <li class="prev"><a href="#"><i class="la  la-arrow-left"></i></a></li>
                           <li><a href="#">1</a></li>
                           <li><a class="active" href="#">2</a></li>
                           <li><a href="#">3</a></li>
                           <li><span class="delimeter">...</span></li>
                           <li><a href="#">22</a></li>
                           <li class="next"><a href="#"><i class="la  la-arrow-right"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <aside class="col-md-3 column">
                     <div class="widget">
                        <h3 class="mini-title">FILTERS</h3>
                        <div class="search_widget">
                           <div class="side-search-form">
                              <form>
                                 <div class="row">
                                    <div class="col-md-12">
                                       <input type="text" class="input-style" placeholder="Keywords" />
                                    </div>
                                    <div class="col-md-12">
                                       <select data-placeholder="All Locations" class="chosen-select" tabindex="2">
                                          <option value="All Locations">All Locations</option>
                                          <option value="United States">United States</option>
                                          <option value="United Kingdom">United Kingdom</option>
                                          <option value="Afghanistan">Afghanistan</option>
                                          <option value="Aland Islands">Aland Islands</option>
                                          <option value="Albania">Albania</option>
                                       </select>
                                    </div>
                                    <div class="col-md-12">
                                       <select data-placeholder="All Categories" class="chosen-select" tabindex="2">
                                          <option value="All Categories">All Categories</option>
                                          <option value="Restaurants">Restaurants</option>
                                          <option value="Foods">Foods</option>
                                          <option value="Hotels">Hotels</option>
                                          <option value="Bars">Bars</option>
                                          <option value="PlayLands">PlayLands</option>
                                       </select>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                     <div class="widget">
                        <h3 class="mini-title">FILTER BY TAG</h3>
                        <div class="tags_widget">
                           <div class="filter-by-tags">
                              <div class="row">
                                 <div class="col-md-12">
                                    <p>
                                       <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value1">
                                       <label for="styled-checkbox-2">Accepts Cards</label>
                                    </p>
                                 </div>
                                 <div class="col-md-12">
                                    <p>
                                       <input class="styled-checkbox" id="styled-checkbox-5" type="checkbox" value="value1">
                                       <label for="styled-checkbox-5">Coupons</label>
                                    </p>
                                 </div>
                                 <div class="col-md-12">
                                    <p>
                                       <input class="styled-checkbox" id="styled-checkbox-7" type="checkbox" value="value1">
                                       <label for="styled-checkbox-7">Pets Friendly</label>
                                    </p>
                                 </div>
                                 <div class="col-md-12">
                                    <p>
                                       <input class="styled-checkbox" id="styled-checkbox-9" type="checkbox" value="value1">
                                       <label for="styled-checkbox-9">Good for Kids</label>
                                    </p>
                                 </div>
                                 <div class="col-md-12">
                                    <p>
                                       <input class="styled-checkbox" id="styled-checkbox-12" type="checkbox" value="value1">
                                       <label for="styled-checkbox-12">Alcohol</label>
                                    </p>
                                 </div>
                                 <div class="col-md-12">
                                    <p>
                                       <input class="styled-checkbox" id="styled-checkbox-23" type="checkbox" value="value1">
                                       <label for="styled-checkbox-23">Pets Friendly</label>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a href="#" title="" class="filter-btn">filter</a>
                  </aside>
               </div>
            </div>
         </div>
      </section>
      <footer>
         <div class="block remove-bottom gray color-dark footer-topmr">
            <div class="container">
               <div class="row">
                  <div class="col-md-4 column">
                     <div class="widget">
                        <h3 class="footer-title footerlogo"><img src="images/JUSS-MR-SABI.png"></h3>
                        <div class="about-widget mb-footer-cntr">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscingelit. Nulla ultrices nisi vitae laoreet dapibus. Etiampulvinar non justo at tincidunt. Cras turpis erat, ornare eget sem ut, tempus scelerisque lorem.</p>
                           <ul>
                              <li><a href="#" data-toggle="tooltip" title="Twitter" ><i class="la la-twitter"></i></a></li>
                              <li><a href="#"  data-toggle="tooltip" title="Instagram"><i class="la la-instagram"></i></a></li>
                              <li><a href="#"  data-toggle="tooltip" title="Pinterest"><i class="la la-pinterest"></i></a></li>
                              <li><a href="#"  data-toggle="tooltip" title="Google"><i class="la la-google-plus"></i></a></li>
                              <li><a href="#" data-toggle="tooltip" title="Tumbler"><i class="la la-tumblr "></i></a></li>
                           </ul>
                        </div>
                     </div>
                     <!-- Widget -->
                  </div>
                  <div class="col-md-4 column  footer-none">
                     <div class="widget">
                        <h3 class="footer-title">OUR USEFUL LINKS</h3>
                        <div class="link-widget">
                           <ul>
                              <li><a href="add-listing.html" title="">Add Your Business</a></li>
                              <li><a href="blogs.html" title="">Blogs and Insights</a></li>
                              <li><a href="deals.html" title="">Deals</a></li>
                              <li><a href="about.html" title="">About Us</a></li>
                              <li><a href="contact.html" title="">Contact Us</a></li>
                              <li><a href="login.html" title="">Login</a></li>
                              <li><a href="register.html" title="">Register</a></li>
                              <li><a href="categories.html" title="">Categories</a></li>
                              <li><a href="listing.html" title="">Write a Review</a></li>
                              <li><a href="terms.html" title="">Terms of Service</a></li>
                              <li><a href="privacy-policy.html" title="">Privacy Policy</a></li>
                           </ul>
                        </div>
                     </div>
                     <!-- Widget -->
                  </div>
                  <div class="col-md-4 column footer-none">
                     <div class="widget">
                        <h3 class="footer-title">CONTACT INFORMATION</h3>
                        <div class="contact-widget">
                           <ul>
                              <li>
                                 <i class="la la-map"></i>
                                 <span class="f2">Address</span>
                                 <span>123 Demo Street, California USA CA 12345</span>
                              </li>
                              <li>
                                 <i class="la la-mobile"></i>
                                 <span class="f2">Phone</span>
                                 <span>+0-111-222-3333</span>
                              </li>
                              <li>
                                 <i class="la la-envelope"></i>
                                 <span class="f2">E-mail Address</span>
                                 <span><a href="#"><span class="__cf_email__">demo@example.com </span></a> </span>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <!-- Widget -->
                  </div>
               </div>
            </div>
            <div class="bottom-line footer-botm-sec">
               <span>Copyright © 2019. All Rights Reserved</span>
               <ul class="footer-botm-lnk">
                  <li>Download Now:</li>
                  <li><a href=""><i class="fa fa-android" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-apple" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-windows" aria-hidden="true"></i></a></li>
               </ul>
            </div>
         </div>
      </footer>
   </div>
   <!-- Script -->
   <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript" src="js/modernizr.js"></script><!-- Modernizer -->
   <script type="text/javascript" src="js/jquery-2.1.1.js"></script><!-- Jquery -->
   <script type="text/javascript" src="js/script.js"></script><!-- Script -->
   <script type="text/javascript" src="js/bootstrap.min.js"></script><!-- Bootstrap -->
   <script type="text/javascript" src="js/scrolltopcontrol.js"></script><!-- ScrollTopControl -->
   <script type="text/javascript" src="js/slick.min.js"></script><!-- Slick -->
   <script type="text/javascript" src="js/scrolly.js"></script><!-- Slick -->
   <script type="text/javascript" src="js/sumoselect.js"></script><!-- Nice Select -->
   <script type="text/javascript" src="js/choosen.min.js"></script><!-- Nice Select -->
   <script type="text/javascript" src="js/rangeslider.js"></script><!-- Nice Select -->
</body>
<!-- Mirrored from grandetest.com/theme/prolist-html/list-view.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 Jul 2019 06:37:07 GMT -->
</html>